# Tailwind CSS
/node_modules/
/docs
# Logs PHP
*.log

# Éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
documentation.md
analyse_mcd_mpandova.pdf
/public/google006e59d614145ff4.html
/public/robots.txt
/public/sitemap.xml